<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Posts</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<!-- /.row -->
<div class="row">
    <div class="col-lg-12 text-right">
        <a href="#post/add" class="btn btn-primary">
            <i class="fa fa-plus"></i> Add post
        </a>
    </div>

    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Date</th>
                    <th>Title</th>
                    <th>Status</th>
                    <th style="width:300px">Actions</th>
                </tr>
                </thead>
                <tbody>
                <% items.each(function(item) { %>
                <tr class="row-<%= item.get("id") %>">
                    <td><%= item.get("id") %></td>
                    <td><%= item.get("created") || "-" %></td>
                    <td><%= item.get("title") || "-" %></td>
                    <td><%= item.get("status") == 1 ? "published" : "" %></td>

                    <td>
                        <a href="/posts/<%= item.get("id") %>" target="_blank"
                           class="btn btn-outline btn-info">
                            <span class="fa fa-eye"></span> View
                        </a>

                        <a href="#post/<%= item.get("id") %>"
                           class="btn btn-outline btn-success">
                            <span class="fa fa-pencil"></span> Edit
                        </a>

                        <% if(item.get("status") == 1) { %>
                        <button data-id="<%= item.get("id") %>" type="button"
                                class="btn btn-outline btn-danger decline action">
                            <span class="fa fa-times"></span> Delete
                        </button>
                        <% } else { %>
                        <button data-id="<%= item.get("id") %>" type="button"
                                class="btn btn-outline btn-warning restore action">
                            <span class="fa fa-reply"></span> Restore
                        </button>
                        <% } %>
                    </td>
                </tr>
                <% }); %>
                </tbody>
            </table>
        </div>
    </div>
</div>